<div class="file-name">
  <span>{{ this.databaseName }}</span>
  <i class="icon icon-shutdown c-hand" (click)="closeFile()"></i>
</div>

<div class="divider"></div>

<app-sidenav-calendar></app-sidenav-calendar>

<div class="divider"></div>

<h6 class="sidenav-title">{{ 'CALENDARS' | translate }}</h6>

<div class="input-group sidenav-input-area">
  <input type="text" class="form-input input-sm" [placeholder]="'CALENDAR_NAME' | translate"
    #cName>
  <button class="btn btn-primary input-group-btn btn-sm" (click)="handleCalendarAddition(cName.value)">
    <i class="icon icon-plus"></i>
  </button>
</div>

<div class="form-group">
  <label *ngFor="let calendar of calendars" class="form-radio">
    <input type="radio" [name]="calendar.id" [checked]="calendar.selected"
      (click)="handleCalendarSelection(calendar)">
    <i class="form-icon" [style.background]="calendar.selected == true ? calendar.colorCode : null"></i>
    {{ calendar.name }}
    <i class="icon icon-cross c-hand" (click)="handleCalendarDeletion(calendar)"></i>
  </label>
</div>

<div class="divider"></div>

<h6 class="sidenav-title">{{ 'TAGS' | translate }}</h6>

<div class="input-group sidenav-input-area">
  <input type="text" class="form-input input-sm" [placeholder]="'TAG_NAME' | translate"
    #tName>
  <button class="btn btn-primary input-group-btn btn-sm" (click)="handleTagAddition(tName.value)">
    <i class="icon icon-plus"></i>
  </button>
</div>

<div class="form-group">
  <label *ngFor="let tag of tags" class="form-radio">
    <input type="radio" [name]="tag.id" [checked]="tag.enabled" (click)="handleTagSelection(tag)">
    <i class="form-icon" [style.background]="tag.enabled == true ? tag.colorCode : null"></i>
    {{ tag.name }}
    <i class="icon icon-cross c-hand" (click)="handleTagDeletion(tag)"></i>
  </label>
</div>
