.file-name {
  text-align: center;
  padding: 1rem 0rem 0rem 0.25rem;
  span {
    font-size: 1rem;
    padding: 0.5rem 1rem 0rem 0rem;
  }
  .icon {
    margin-bottom: 0.4rem;
  }
}

.sidenav-input-area {
  padding: 0.2rem 0rem;
}

.sidenav-title {
  padding: 0.2rem 0rem;
}
