.container {
  height: 100%;
  .logo {
    padding: 5rem 0rem;
    font-size: 3rem;
  }
  .column {
    padding: 2rem 5rem;
    h6 {
      padding: 1rem 0rem;
    }
    .btn.btn-link {
      color: white;
    }
    .btn.btn-link:focus {
      color: lightblue;
    }
    select {
      color: black;
    }
  }
  .divider-vert::before {
    border-left: 0.05rem solid #77797d;
  }
}
