<div class="modal modal-sm" [id]="id">
  <a class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container" role="document">
    <div class="modal-header">
      <a class="btn btn-clear float-right" aria-label="Close" (click)="close()"></a>
      <div class="modal-title h5">{{ title }}</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="submit()">{{ 'SUBMIT' | translate }}</button>
      <a class="btn btn-link" aria-label="Close" (click)="close()">{{ 'CLOSE' | translate }}</a>
    </div>
  </div>
</div>
