<div class="calendar calendar-lg">
  <div class="calendar-nav navbar">
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-left" (click)="previousMonth()"></i>
    </button>
    <div class="navbar-primary">{{ 'MONTHS.' + this.m.toString() | translate }} {{ this.y }}</div>
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-right" (click)="nextMonth()"></i>
    </button>
  </div>
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date">{{ 'DAYS.1' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.2' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.3' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.4' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.5' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.6' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.7' | translate }}</div>
    </div>

    <div class="calendar-body">
      <div *ngFor="let item of this.data; let i = index"
            [ngClass]="{'calendar-date': true, 'current-month': item.isAvailable,
                        'disabled': !item.isAvailable, 'prev-month': i < this.startingWeekDay - 1,
                        'next-month': i >= this.dayCount + this.startingWeekDay - 1 }">
        <button *ngIf="item.isAvailable" class="date-item">{{ item.Day.Nu }}</button>
      </div>
    </div>
  </div>
</div>
