<div class="calendar calendar-lg">
  <div class="calendar-nav navbar">
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-left" (click)="previousMonth()"></i>
    </button>
    <div class="navbar-primary">{{ 'MONTHS.' + this.data.Month.toString() | translate }} {{ this.data.Year }}</div>
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-right" (click)="nextMonth()"></i>
    </button>
  </div>
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date">{{ 'DAYS.1' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.2' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.3' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.4' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.5' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.6' | translate }}</div>
      <div class="calendar-date">{{ 'DAYS.7' | translate }}</div>
    </div>

    <div class="calendar-body">
      <div class="calendar-date prev-month disabled">
        <button class="date-item">26</button>
      </div>
      <div class="calendar-date prev-month disabled">
        <button class="date-item">27</button>
        <div class="calendar-events">
          <a class="calendar-event bg-error text-light" href="#calendars">Zhonghe Festival</a>
        </div>
      </div>
      <div class="calendar-date prev-month disabled">
        <button class="date-item">28</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">1</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">2</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">3</button>
      </div>
      <div class="calendar-date current-month tooltip" data-tooltip="Today">
        <button class="date-item date-today">4</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item" disabled>5</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">6</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">7</button>
      </div>
      <div class="calendar-date current-month tooltip" data-tooltip="You have appointments">
        <button class="date-item badge">8</button>
        <div class="calendar-events">
          <a class="calendar-event bg-primary text-light" href="#calendars">Product launch event</a>
          <a class="calendar-event bg-error text-light" href="#calendars">International Women's Day</a>
        </div>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">9</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">10</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">11</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">12</button>
        <div class="calendar-events">
          <a class="calendar-event bg-error text-light" href="#calendars">Arbor Day</a>
        </div>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">13</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">14</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">15</button>
      </div>
      <div class="calendar-date current-month calendar-range range-start">
        <button class="date-item active">16</button>
      </div>
      <div class="calendar-date current-month calendar-range">
        <button class="date-item">17</button>
      </div>
      <div class="calendar-date current-month calendar-range">
        <button class="date-item">18</button>
      </div>
      <div class="calendar-date current-month calendar-range">
        <button class="date-item">19</button>
      </div>
      <div class="calendar-date current-month calendar-range range-end">
        <button class="date-item active">20</button>
        <div class="calendar-events">
          <a class="calendar-event bg-success text-light" href="#calendars">Spring Equinox</a>
        </div>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">21</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">22</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">23</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">24</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">25</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">26</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">27</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">28</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">29</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">30</button>
      </div>
      <div class="calendar-date current-month">
        <button class="date-item">31</button>
      </div>
      <div class="calendar-date next-month disabled">
        <button class="date-item">1</button>
        <div class="calendar-events">
          <a class="calendar-event bg-error text-light" href="#calendars">April Fools' Day</a>
        </div>
      </div>
    </div>
  </div>
</div>
