@import "../node_modules/spectre.css/src/spectre.scss";
@import "../node_modules/spectre.css/src/spectre-icons.scss";
@import "../node_modules/spectre.css/src/spectre-exp.scss";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
